<a href="https://colab.research.google.com/github/ksenia312/discrete-math/blob/main/Nikitina/stage_6_nikitina_melnikova.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Домашняя работа**
---

In [81]:
import pandas as pd

###**Этап 6:** Реализация 
---
Построить СКНФ для формулы по некоторой корректной таблице истинности.

Формат ввода: вводится число k от 2 до 5 -- число переменных в формуле. Далее вводится через пробел 2^k строчек 0 и 1 длины k + 1 соответствующих значениям аргументов и соответственно значению функции. В качестве вывода ожидается СКНФ

Рассмотрим в качестве примера функцию xor.

Пример ввода:

```
2
0 0 0
1 1 0
1 0 1
0 1 1
```
Пример вывода:

```
(-a + -b)(a + b)
```

####Функция ввода
---

In [87]:
def input_data():
  n = int(input())
  table = []
  for i in range(2**n):
    table.append(list(map(int, input().split())))
  return n, table

####Функция визулизации
---

In [83]:
def visualize():
  var_names = [chr(i).lower() for i in range(65, 65+n)]
  df = pd.DataFrame(table, columns=var_names+['f'])
  return var_names, df

####Функция получения СКНФ
---

In [84]:
def get_SKNF():
  for row in table:
    if row[-1] == 1:
      table.remove(row)

  answer = 'СКНФ: \n'
  for row in table:
    answer+='('
    for i in range(len(row)-1):
      if i != 0:
        answer+=' + '
      if row[i] == 1:
        answer+='-'
      answer+=var_names[i]
    answer+=')'
  return answer

###**Этап 6:** Ввести данные
---

In [88]:
n, table = input_data()

3
0 0 0 0
0 0 1 0
0 1 0 0
0 1 1 0
1 0 0 0
1 0 1 0
1 1 0 0
1 1 1 1

In [89]:
var_names, df = visualize()
df

   a  b  c  f
0  0  0  0  0
1  0  0  1  0
2  0  1  0  0
3  0  1  1  0
4  1  0  0  0
5  1  0  1  0
6  1  1  0  0
7  1  1  1  1

In [90]:
print(get_SKNF())

СКНФ:
(a + b + c)(a + b + -c)(a + -b + c)(a + -b + -c)(-a + b + c)(-a + b + -c)(-a + -b + c)